
body {
  padding-top: 50px;
  position: fixed;
  top: 0px;
  left: 1px;

}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
  background-color: #3D3D3D
}


.sidebar {
    display: none;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 1500px;
    width: 640px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #989898;
    border-right: 1px solid #eee;
}

.main {
    padding: 100px;
    position: relative;
    margin-left: -90px;
    margin-right: 60px;
    padding-right: 29px;
    padding-left: -10px;
    width: 1413px;

}

.placeholder {
  margin-bottom: 20px;

}
.placeholder img {
  display: inline-block;
  border-radius: 50%;

}

/* table */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	font-size: 17pt;
	width: 116%;
	text-align: left;

}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 12pt;
	padding: 12px;
}
table.tablesorter thead tr .header {
	background-image: url(/img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}



/* applicant box */
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
    width: 200px;
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
     width: 200px;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
    width: 200px;
}

.panel-body {
    font-size: 20em;
    width: 500px;
    height: 750px;
}

.panel {
    background-color: #e6EEEE;
}

.applicantbox {
    margin-left:20px;
    width: 550px;
}

.panel-heading {
     background-color: #e6EEEE;
}

.applicantpic {
    width: 150px;
    position: absolute;
    right: 410px;
}

.applicantinfo {
    margin-left:50px;
    width: 450px;
    margin-top: -200px;
}

applicantname {
    position: absolute;
    right: 150px;
    font-size: xx-large;
    top: 120px;
    text-align:center;
    padding-left:2em;
    max-width:300px;
}

personality {
    font-size: medium;
    font-weight:600;
    text-align: center;
    margin-top: 5px;
}

.personalities {
  margin-bottom: 30px;
  text-align: center;
}


.Power {
    font-size: large;
    color: #d54b65;
    left:20px;
    font-weight:600;
}

.Inspirational {
    font-size: large;
    color: #69f3f1;
    font-weight:600;
}

.Balance {
    font-size: large;
    color: #a6d785;
    font-weight:600;
}

.Analytical {
    font-size: large;
    color: #f3ce69;
    font-weight:600;
}

.post-content {
    margin-top: -65px;

}

.thumbnail {
    position:relative;
    margin-bottom: 40px;
    text-align: center;
    right:-100px;
    display: inline-block;
}

h3 {
   margin-right: -50px;

}


