.search {
    position: fixed;
    left:auto;
    top: 20px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
 
}

.navbar-fixed-top {
  border: 0;
  background-color: #3D3D3D;
  position: fixed;
}

.main {
    padding: 100px;
    margin-left: -90px;
    margin-right: 60px;

}

.placeholder {
  margin-bottom: 20px;

}

.placeholder img {
  display: inline-block;
  border-radius: 50%;

}

/* table */
table.tablesorter {
    position: fixed;
    left: 20px;
    width: 60%;
	font-family:arial;
	font-size: 17pt;
	text-align: left;

}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #b5d3fb;
	border: 1px solid #FFF;
	font-size: 12pt;
	padding: 12px;
}
table.tablesorter thead tr .header {
	background-image: url(/img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	vertical-align: top;
}

table.tablesorter tbody tr.odd td {
	background-color:#d54b65;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #d54b65;
}

tr:hover,tr.alt:hover
{
    background: rgb(221, 221, 221)!important;
}


/* applicant box */
applicantbox {
    position: absolute;
    width: 60%;

}

.sidebar {
    position: absolute;
    top: 51px;
    bottom: 0;
    right: 0px;
    width: 40%;
    padding: 20px;
    background-color: #b5d3fb;
}

.table-user-information > tbody > tr {
   
    border-top: 1px solid rgb(221, 221, 221);
    width: 40%;
}

.table-user-information > tbody > tr:first-child {

    border-top: 0;
    width: 40%;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
    width: 40%;
}

.applicantpic {
    width: 150px;
    position: absolute;
    left: 30px;
}

.applicantinfo {
    position: absolute;
    left: 0px;
    margin-left:50px;
    width: 80%;
    margin-top: -200px;
}

applicantname {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: xx-large;
    text-align:center;
}

/* applicant info  */
.panel-body {
    position: absolute;
    left: 20px;
    font-size: 20em;
    width: 90%;
    height: 95%;
    padding-left: 20px;
    background-color: #edf369;
}

personality {
    font-size: 7%;
    font-weight:600;
    text-align: center;
    width: 80%;
}

.personalities {
  position: absolute;
  margin-bottom: 150px;
  text-align: center;
  width: 95%;
}

.Power {
    font-size: large;
    color: #d54b65;
    left:20px;
    font-weight:600;
    margin-bottom: 150px;
}

.Inspirational {
    font-size: large;
    color: #69f3f1;
    font-weight:600;
}

.Balance {
    font-size: large;
    color: #a6d785;
    font-weight:600;
}

.Analytical {
    font-size: large;
    color: #f3ce69;
    font-weight:600;
}



/* downlaod resume button */
.thumbnail {
    margin-bottom: 140px;
    text-align: center;
    right:250px;
    bottom: 150px;
}
.post-content {
    margin-top: -65px;
}

h3 {
   margin-right: -50px;
}


form {
    width:1000px;
    margin:50px auto;
}


