body {
  padding-top: 50px;
  position: fixed;
  top: 0px;
  left: 1px;
}

.panel-body {
    font-size: 20em;
    width: 500px;
    height: 750px;
    position:center;
}

.applicantbox {
    
   position:center;
   width: 550px;
   align-content:center;
}

.applicantpic {
    width: 150px;
    position: absolute;
    right: 410px;
}

.applicantinfo {
    margin-left:50px;
    width: 450px;
    margin-top: -200px;
}

applicantname {
    position: absolute;
    right: 150px;
    font-size: xx-large;
    top: 150px;
}


.post-content {
    margin-top: -65px;
}

.thumbnail {
    position:relative;
    margin-bottom: 30px;
    text-align: center;
    bottom:15px;
    right:-100px;
    display: inline-block;
}

h3 {
   margin-right: -50px;

}
