@{
    ViewBag.Title = "AccountLogin";
}
@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<html>

<head>
    <title>JobSeekers - Account Login</title>
    <link rel="stylesheet" href="~/Content/Signup.css">
</head>

<body>
   
    @*Create Your Account Box*@
   <div class="msform">
       <form class="msform">
           <fieldset>
               <h2 class="fs-title">Account Login</h2>
                   <input type="text" id="email_form" placeholder="Email" />
                   <input type="password" id="password_form" placeholder="Password" />
                   <input id="create_account_btn" class="button_text" type="button" value="Login" onclick="ValidateLogin();" />
           </fieldset>
       </form>
   </div>
    <div class="employersignup" style="font-size:15px">
        Don't have an account yet? Sign up <a href="Signup">here</a>.
    </div>
   
</body>
</html>
