@{
    ViewBag.Title = "ApplicantLogin";
}


<html>

<head>
    <title>JobSeekers - Applicant Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/Signup.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container">
            <div class="get-started-link">
                @Html.ActionLink("GET STARTED HERE", "Learn", "Home", null, new { @class = "navbar-brand" })
            </div>

            <div class="learn">
                @Html.ActionLink("Learn how it works", "Signup", "Home", null, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">Employer Login</a>
                </li>
                <li>
                    <a href="#contact">Applicant Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <br />

    @*Create Your Account Box*@
   <div class="msform">
       <form class="msform">
           <fieldset>
               <h2 class="fs-title">Applicant Login</h2>
                   <input type="text" id="email_form" placeholder="Email" />
                   <input type="password" id="password_form" placeholder="Password" />
                   <input id="create_account_btn" class="button_text" type="button" value="Next" onclick="VerifyNewAccount();" />
           </fieldset>
       </form>
   </div>
   
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://thecodeplayer.com/uploads/js/jquery.easing.min.js'></script>
    <script src="~/Scripts/index.js"></script>
</body>
</html>
