@{
    ViewBag.Title = "FrontDash";
}

<h2></h2>
<html lang="en">

<head>
    <title>JobSeekers - Dashboard</title>
    <link href="~/Content/dashboard.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/jquery-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script> 
</head>

<body>
    @*Top Nav Bar*@
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">JobSeekers</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="mailto:webmaster@jobseekers.com">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @*Applicant Table*@
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Applicants</h2>
        <table id="myTable" class="tablesorter">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>City</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Eric</td>
                    <td>Thibeau</td>
                    <td>Project Manager</td>
                    <td>Laguna Niguel</td>
                    <td>CA</td>
                </tr>
                <tr>
                    <td>Tony</td>
                    <td>Stark</td>
                    <td>IronMan</td>
                    <td>Malibu</td>
                    <td>CA</td>
                </tr>
                <tr>
                    <td>Steve</td>
                    <td>Rogers</td>
                    <td>Captain America</td>
                    <td>New York City</td>
                    <td>NY</td>
                </tr>
            </tbody>
        </table>

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
            </div>
        </div>


        @*Right Applicant Bar*@
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">

                    @*Applicant Box*@
                    <div class="applicantbox">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="applicantpic" align="center"> <img alt="User Pic" src="~/img/ProfilePics/Avatar4.png" class="img-circle img-responsive"> </div>
                                    <applicantname>Eric Robert <br />Thibeau</applicantname>
                                    <div class="applicantinfo">
                                        <br>
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>Title:</td>
                                                    <td>Project Manager</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td>43 Glen Cv, Laguna Niguel, CA 92677</td>
                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td><a href="mailto:ericthibeau@gmail.com">Click to Email</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Phone Number</td>
                                                    <td>555-555-5555<br>
                                                </tr>
                                                <tr>
                                                    <td>Skills</td>
                                                    <td>Microsoft Project, Scrum, SQL, HTML, JIRA</td>
                                                </tr>
                                        </table>
                                        <div class="row placeholders">
                                            <div class="col-xs-6 col-sm-3 placeholder">
                                                <img src="~/img/powerful1.png" width="200" height="200" class="img-responsive">
                                                <personality>Power</personality>
                                                <span class="Power">76</span>
                                            </div>
                                            <div class="col-xs-6 col-sm-3 placeholder">
                                                <img src="~/img/blue2.png" width="200" height="200" class="img-responsive">
                                                <personality>Inspirational</personality>
                                                <span class="Inspirational">25</span>
                                            </div>
                                            <div class="col-xs-6 col-sm-3 placeholder">
                                                <img src="~/img/green.png" width="200" height="200" class="img-responsive">
                                                <personality>Balance</personality>
                                                <span class="Balance" font size="6">21</span>
                                            </div>
                                            <div class="col-xs-6 col-sm-3 placeholder">
                                                <img src="~/img/yellow2.png" width="200" height="200" class="img-responsive">
                                                <personality>Analytical</personality>
                                                <span class="Analytical">35</span>
                                                <p></p>
                                            </div>
                                        </div>

                                        <div class="thumbnail">
                                            <a href="resume.docx" download>
                                                <img src="~/img/dlbutton.png" />
                                            </a>
                                            <div class="caption post-content">
                                                <h3 style="color:white; font-size:medium">Download Resume</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <script>
                $(document).ready(function () {
                    $("#myTable").tablesorter();
                }
                );
            </script>

        </div>
    </div>

        </div>
</body>
</html>


