@{
    ViewBag.Title = "EmployerHelp";
}

<html lang="en">

<head>
    <title>JobSeekers - Employer Help</title>
    <link href="~/Content/dashboard.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/jquery-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script> 
</head>

<body>
    @*Top Nav Bar*@
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" color="red">
                <a class="navbar-brand" href="Dashboard?authType=2">JobSeekers</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="EmployerHelp">Help</a></li>
                    <li><a href="mailto:webmaster@jobseekers.com">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

   

    
</body>
</html>


