@{
    ViewBag.Title = "EmployerLogin";
}
@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<html>

<head>
    <title>JobSeekers - Employer Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/Signup.css">
</head>

<body>
   
    @*Create Your Account Box*@
   <div class="msform">
       <form class="msform">
           <fieldset>
               <h2 class="fs-title">Employer Login</h2>
                   <input type="text" id="email_form" placeholder="Email" />
                   <input type="password" id="password_form" placeholder="Password" />
                   <input id="create_account_btn" class="button_text" type="button" value="Login" onclick="VerifyNewAccount();" />
           </fieldset>
       </form>
   </div>
   
  
</body>
</html>
