@{
    ViewBag.Title = "HowDoesItWork";
}
@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<html>

<head>
    <title>JobSeekers - How Does It Work?</title>
    <link href="~/Content/index.css" rel="stylesheet">
</head>

<body>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>So how does all this work?</h1>
                        <h3>Let's Review...</h3>
                        <hr class="intro-divider">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a name="services"></a>
    <div class="upload-profile-a ">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h1 class="section-heading">How To 1</h1>
                    <p class="lead">How To 1</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/img/PH.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="increase-visibility-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h1 class="section-heading">How To 2</h1>
                    <p class="lead">How To 2</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="~/img/PH.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="culture-skills-c">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h1 class="section-heading">How to 3</h1>
                    <p class="lead">How to 3</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/img/PH.jpg" alt="">
                </div>
            </div>

        </div>
    </div>

</body>
</html>
