@{
    ViewBag.Title = "HowDoesItWork";
}
@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<html>

<head>
    <title>JobSeekers - How Does It Work?</title>
    <link rel="stylesheet" href="~/Content/Howtopage.css">
</head>

<body>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                       
                        <h1>So how does all this work?</h1>
                        <h3>Let's Review...</h3>
                        <hr class="intro-divider">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a name="services"></a>
    <div class="upload-profile-a ">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <div class="circle color-1">What?</div>
                    <h1 class="section-heading">What is JobSeeker?</h1>
                    <p class="lead">JobSeeker is the flagship career and job search website that matches prospective
                        employee with available positions based on personality assessment and skills assessment survey.
                        We will find the right position based on the following categories.</p>
                    <ul>
                        <li><h3>Power - emphasis on accomplishing result</h3></li>
                        <li><h3>Balance - emphasis on cooperation</h3></li>
                        <li><h3>Inspirational - emphasis on influencing others</h3></li>
                        <li><h3>Analytical - emphasis on quality and accuracy</h3></li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/img/what.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="increase-visibility-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <div class="circle color-2">Why?</div>
                    <h1 class="section-heading">Why JobSeeker?</h1>
                    <p class="lead">Go above the status quo of just a resume and cover letter, by providing a personality and task assessment for
		employers to further narrow down the search for the best employee. Our assessment survey will match the job candidate with the best possible position.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="~/img/why.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="culture-skills-c">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <div class="circle color-3">How?</div>
                    <h1 class="section-heading">How does it work?</h1>
                    <p class="lead">Simply create a profile, complete assessment survey, upload your resume and we will do the rest for you.<br> It is really that easy.
		We have done our best to make the searching, finding and applying as convenient as possible, because we do not want anything to come between us and a great applicant.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/img/how.jpg" alt="">
                </div>
            </div>

        </div>
    </div>

</body>
</html>