@{
    ViewBag.Title = "Sales";
}

<html>

<head>
    <title>JobSeekers - Sales</title>
    <link href="~/Content/index.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container">
            <div class="get-started-link">
                @Html.ActionLink("GET STARTED HERE", "Signup", "Home", null, new { @class = "navbar-brand" })
            </div>
           
            <div class="learn">
                @Html.ActionLink("Learn how it works", "Signup", "Home", null, new { @class = "navbar-brand" })
            </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      @Html.ActionLink("Applicant Login", "ApplicantLogin", "Home", null, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("Employer Login", "EmployerLogin", "Home", null, new { @class = "navbar-brand" })
                    </li>
                </ul>
            </div>
    </nav>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>JobSeekers</h1>
                        <h3>Connecting Employers with Employees</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/JobSeekers454" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/JobSeekers454" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/JobSeekers454" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a name="services"></a>
    <div class="upload-profile-a ">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h1 class="section-heading">Upload Your Profile:<br>Easy as 1, 2, 3</h1>
                    <p class="lead">Just upload your contact information and resume, take a short personality questionnaire, and tell us your job skills.<br><br>We'll do the rest! </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/img/Dressed-Up-Man2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="increase-visibility-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h1 class="section-heading">Increase Your Visibility</h1>
                    <p class="lead">Apply to thousands of employers all with one single application. Forget filling out the same redundant information over and over!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="~/img/hire-me-sign.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="culture-skills-c">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h1 class="section-heading">Culture and Skills Matching</h1>
                    <p class="lead">Let our personality survey and job skills assessment help pair YOU with the right companies for success!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/img/soft-skills.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
    <a name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Connect to JobSeekers:</h1>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/JobSeekers454" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/JobSeekers454" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/JobSeekers454" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#sales">Sales</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="mailto:webmaster@jobseekers.com">Contact</a><br> 
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; JobSeekers 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
