@{
    ViewBag.Title = "Signup";
}


<html>

<head>
    <title>JobSeekers - Signup</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/Signup.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">JobSeekers</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <br />
    <br />

    @*Create Your Account Box*@
   <div class="msform">
       <form class="msform">
           <fieldset>
               <h2 class="fs-title">Create your account</h2>
               <h3 class="fs-subtitle">Step 1</h3>
                   <input type="text" id="email_form" placeholder="Email" />
                   <input type="password" id="password_form" placeholder="Password" />
                   <input type="password" id="verify_password_form" placeholder="Confirm Password" />
                   <input id="create_account_btn" class="button_text" type="button" value="Next" onclick="VerifyNewAccount();" />
           </fieldset>
       </form>
   </div>
   
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://thecodeplayer.com/uploads/js/jquery.easing.min.js'></script>
    <script src="~/Scripts/index.js"></script>
</body>
</html>
