@{
    ViewBag.Title = "Signup";
}
@{ 
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<html>

<head>
    <title>JobSeekers - Signup</title>
    <link rel="stylesheet" href="~/Content/Signup.css">
</head>

<body>
 
    @*Create Your Account Box*@
   <div class="msform">
       <form class="msform">
           <fieldset>
               <h2 class="fs-title">Create your account</h2>
               <h3 class="fs-subtitle">Step 1</h3>
                   <input type="text" id="email_form" placeholder="Email" />
                   <input type="password" id="password_form" placeholder="Password" />
                   <input type="password" id="verify_password_form" placeholder="Confirm Password" />
                   <input id="create_account_btn" class="button_text" type="button" value="Next" onclick="VerifyNewAccount();" />
           </fieldset>
       </form>
   </div>
    <div class="employersignup" style="font-size:15px">
        For an Employer account, please see our <a href="Sales">Sales</a> page for information on getting started with us.
    </div>
</body>
</html>
