<script type="text/javascript" src="~/Scripts/jquery-latest.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script>
<link href="~/Content/dashboard.css" rel="stylesheet">




<div>
    @RenderBody()
</div>

<body ng-app="myApp">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">JobSeekers</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="mailto:webmaster@jobseekers.com">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
   


</body>