<title>JobSeekers</title>
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/bootstrap-main-theme.css" rel="stylesheet">
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/app.js"></script>



<div>
    @RenderBody()
</div>

<body ng-app="myApp">

   
</body>