<title>JobSeekers</title>
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<!--<link href="~/Content/bootstrap-main-theme.css" rel="stylesheet">-->
<script src="~/Scripts/jquery-1.12.0.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/JsUtils.js"></script>



<div>
    @RenderBody()
</div>

<body ng-app="myApp">

   
</body>